p
{font-family: "Arial", sans-serif ;
font-size: 18px;}
h1
{font-family: "Arial", sans-serif;
font-size: 30px;}
h2
{font-family: "Arial", sans-serif;
font-size: 25px;}
strong
{font-family: "Arial", sans-serif;
font-size: 20px;}
